
body {
    display: flex;
    flex-wrap: wrap;
    background-color: #39588e;
}

nav {
    background-color: rgba(36, 40, 45, 0.863);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 20px antiquewhite;
}

nav form {
    /* backdrop-filter: blur(50px); */
    padding: 5px 0 0;
}

nav form input {
    height: 90%;
    border: 0.5px solid;
    border-radius: 5px;
    background-color: transparent;
}

nav form button {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;

}

nav p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.mainbody { 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid; */
    margin: 0px 200px 0px;
    /* height: 100vh; */
}

.mainbody h2 {

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 80px 0 5px;
}


.card-box {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 10px;
}

.card-1 {
    width: 250px;
    border: 2px solid rgba(201, 194, 194, 0.632);
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}

.chead {
    font-weight: 600;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 60px 20px;
    border-bottom: 2px solid rgba(201, 194, 194, 0.632);
}

.cbody h2 {
    margin: 10px 0px 25px;
}

.cbody p {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    font-weight: 600;
    margin: 0px 0px 15px;
}

.symb {
    color: rgb(186, 181, 181);
}

.head-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    margin: 20px 0 10px;
}

.km{
    font-weight: 400;
    font-size: 1.5rem;
}

.Date{
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 60px 20px;
    border-bottom: 2px solid rgba(201, 194, 194, 0.632);
}

*{
    color: white;
}
